<!-- 需求：设置不同形状的机器人部件-->
<robot name="mycar">
    <link name="base_link">
        <!--可视化标签-->
        <visual>
            <!-- 形状-->
            <geometry>
                <!-- 立方体：尺寸长度 -->
                <!-- <box size="0.3 0.2 0.1" /> -->
                 <!-- 圆柱 半径 长度 -->
                <!-- <cylinder radius="0.1" length="2.0"/> -->
                <!-- 圆球 半径-->
                <!-- <sphere radius="1"/> -->
                <!-- 皮肤 package://包名 所属文件夹即路径 -->
                <mesh filename="package://urdf01_rviz/meshes/sim_demo/autolabor_mini.stl" />
            </geometry>
            <!-- 偏移量和倾斜弧度
            xyz-设置机器人模型在x y y上的偏移量
            rpy-设置倾斜弧度x（翻滚） y（俯仰） z（偏航）
            -->
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>

            <!-- 颜色
            rgba:a-透明度
            都是0-1之间的取值
            -->

            <material name="car_color">
                <color rgba="0.0 0.0 1 1"/>
            </material>


        </visual>


    </link>
</robot>